@import url("Bus_website.js.css");
pright {
	
	margin-left: left;
	margin-right: Left;
	margin-top: left;
	margin-bottom:left;
  color: white;
  font-family: Atexbode Garamond Pro, serif;
	font-size:2em;
	}
body {
  background-color: #1e345d;
  background-repeat: no-repeat;
  color: white;
  background-attachment: fixed;
  background-position: left;
  background-size: 700px;
  text-align: left;
  
}
img {
  width: 900px
}
.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[aria-hidden="true"] {
  display: none;
}
[aria-hidden="false"] {
  display: block;
}
h1 {
  
  line-height: 1.2;
  text-align: center;
  margin-left: center;
  margin-right: center;
  margin-bottom: center;
  margin: top;
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  Color: #a2863d;
  text-shadow: 3px 3px 8px #000000;
  font-size: 3em;
}
span {
  color: #a2863d;
  font-size: 2em;
  text-align: center;
  margin-left: center;
  margin-right: center;
}
h2 {
  width: 702px;
  color: rgb(134, 103, 49);
  background-color: rgb(236, 204, 156);
  text-align: center;
  margin-left: center;
  margin-right: center;
}
h3 {
  
  color: #89a9e2;
  text-align:center;
  margin-left: center;
  margin-right: center;
font-size: 2.5em
}
p {
  text-align: left;
  margin-left: left;
  margin-right: left;
  color: white;
  font-family: Atexbode Garamond Pro, serif;
	font-size:2em;
  /*Make smaller and add links to the website*/
}

last {
  color: white;
  font-size: 1em;
  text-align: center;
  display: block;
  margin: auto;
}
button {
  font-family: trajan-pro-3, serif;
  
  font-style: normal;
  color:#8b1c40;
  /*Go to Top Button */
  position: static;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: #89a9e2;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.background-content {
  height: 100%;
  overflow: auto;
}
lowbutton {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 20.5%;
  left: 77.25%;
  max-width: 90px;
  width: 100%;
  font-size: 25px;
  border-color: rgba(5, 82, 248);
  background-color: #89a9e2;
  padding: .5px;
  border-radius: 4px;
  font-family: trajan-pro-3, serif;
  cursor: pointer;
  border: none;
  outline: none;
  color: #8b1c40;
  text-shadow: 3px 3px 8px #000000;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
credit { 
	 color: gold;
  font-size: 1em;
  text-align: center;
  display: block;
  margin: auto;
}
/*line