body {
	background-color:#1e345d;
}
.noscroll { 
  overflow: hidden;
}

.overlay { 
   position: fixed; 
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0; }

[aria-hidden="true"]  { display: none; }
[aria-hidden="false"] { display: block; }
h1 {
  width: 625px;
  line-height: 1.2;
  text-align: left;
  margin-left: left;
  margin-right: left;
  font-size: 2em;
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  Color:#a2863d;
  text-shadow: 3px 3px 8px #000000;
	
}
span {
  color:#a2863d;
  font-size: 50px;
  text-align: left;
  margin-left: left;
  margin-right: left;
}
h2 {
  width: 702px;
  color: rgb(134, 103, 49);
  background-color: rgb(236, 204, 156);
  text-align: left;
  margin-left: left;
  margin-right: left;
}
h3 {
  width: 620px;
  color:#89a9e2;
  text-align: left;
  margin-left: left;
  margin-right: left;
}
p {
  text-align: left;
  margin-left: left;
  margin-right: left;
  color:white;
  /*Make smaller and add links to the website*/
}
last {
	
	color: white;
	font-size: 11px;
 	text-align:center;
	display: block; 
	margin: auto;


}
button {
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  color:rgba(233,225,0,1.00);
  text-shadow: 3px 3px 8px #000000;
  /*Go to Top Button */
  position:static;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#89a9e2;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}


.background-content{
    height: 100%;
    overflow: auto;
}
/*line