body {
	background-color: #800000
}
h1 {
  width: 625px;
  line-height: 1.2;
  text-align: left;
  margin-left: left;
  margin-right: left;
  font-size: 2em;
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
  Color: rgb(255, 204, 0);
  text-shadow: 3px 3px 8px #000000;
	
}
span {
  color: rgb(51, 51, 255);
  font-size: 50px;
  text-align: left;
  margin-left: left;
  margin-right: left;
}
h2 {
  width: 702px;
  color: rgb(134, 103, 49);
  background-color: rgb(236, 204, 156);
  text-align: left;
  margin-left: left;
  margin-right: left;
}
h3 {
  width: 620px;
  color: white;
  text-align: left;
  margin-left: left;
  margin-right: left;
}
p {
  text-align: left;
  margin-left: left;
  margin-right: left;
  color:white;
  /*Make smaller and add links to the website*/
}
last {
	text-align: center;
	color: white;
	font-size: 11px;
}
heading {
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  color:rgba(233,225,0,1.00);
  text-shadow: 3px 3px 8px #000000;
  /*Go to Top Button */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
/*line