@charset "utf-8";
/* CSS Document */
.preload {
	width: 100%;
	height: 100%;
	Background:#333;
	position:fixed;
	top:0;
	left:0;
	z-index: 1;
	
}
.logo{
	width:300px;
	height:70px;
	margin: 150px auto 50px auto;
	font-size: 50px;
	text-shadow: -1px 2px 2px #000;
	text-align: center;
	color: azure;
	 
	
}
.loader-frame {
	width: 70px;
	height:70px;
	margin:auto;
	position: relative;
	
}
.loader1, .loader {
	position: absolute;
	border: 5px, solid transparent;
	border-radius: 50%;
	
}
.loader1 {
	width: 70px;
	height: 70px;
	border-top: 5px, solid azure;
	border-bottom: 5px, solid azure;
	animation: clockwisepin 2s linear 3;
	

	
	
}
.loader2 {
	width: 60px;
	height: 60px;
	border-left: 5px, solid Darkturquoise;
	border-right: 5px, solid Darkturquoise;
	top:5px; left:5px;
	border-radius: 50%;
	animation: anticlockwisepin 2s linear 3;
	
	

	
	
}

@keyframes clockwisepin {
	from {transform:rotate(0deg);}
	to {transform: rotate(360deg);}
	
}
@keyframes anticlockwisepin {
	from {transform:rotate(0deg);}
	to {transform: rotate(-360deg);}
	
}
@keyframes fadeout 1s {
	from {opacity: 1;}
	top {opacity: 0;}
		
	
}


.overlay { 
   position: fixed; 
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0; }
